@(Html.Kendo().Grid<YuktiSolutions.SmartERP.Areas.Sales.Models.UI.MasterEntriesListItem>
        ().Name("StageList")
               .Columns(cols =>
               {
                   cols.Bound(c => c.Name).FooterTemplate("<input type='text' id = 'footerStageName' placeholder='Enter Stage Name' size='45' class='k-textbox'/>");
                   ;
                   cols.Command(command => { command.Edit(); command.Destroy(); }).Width(250).FooterTemplate("<a onclick='SaveStage()'><span class='glyphicon glyphicon-plus pull-right'></span></a>");
               })
               .Sortable()
          .Editable(editable => editable.Mode(GridEditMode.InLine))
            .DataSource(ds => ds.Ajax().Read(read => read.Action("MasterEntries_Read", "Masters", new { Area = "Sales", MasterEntryType=YuktiSolutions.SmartERP.Areas.Sales.Models.Database.MasterEntryType.Stage }))
             .Events(e => e.Error("DataSourceError"))
            .Model(m => m.Id(e => e.ID))
           .Update(update => update.Action("MasterEntries_Update", "Masters", new { Area = "Sales", MasterEntryType = YuktiSolutions.SmartERP.Areas.Sales.Models.Database.MasterEntryType.Stage }))
            .Destroy(update => update.Action("MasterEntries_Destroy","Masters", new { Area = "Sales", MasterEntryType = YuktiSolutions.SmartERP.Areas.Sales.Models.Database.MasterEntryType.Stage }))
         )
        )